a {
  color: #3b5998;
  cursor: pointer;
  text-decoration: none;
}

i {
    margin-right: 10px;
}

.onePost {
    width: 500px;
    margin-left: 30%; 
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}

.person {
    padding-bottom: 10px;
}

.person img {
    vertical-align: top;
}

.personInfo {
    display: inline-block;
    padding-left: 10px;
}

.postContent {
    padding: 15px;
    color: #6d84b4;
}

.postContent img {
    width: 100%;
}

.messageDiv {
    background-color: #e9eaed;
    padding: 10px 15px;
}

.counter {
    border-bottom: 1px solid;
    border-color: #d0d1d5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.oneMessage {
    padding-bottom: 10px;
}

.oneMessage img {
    display: inline;
    vertical-align: top;
    padding-right:10px;
}

.oneMessageContent {
    display: inline;
}

.leaveMessage img {
    vertical-align:middle;
    height: 32px;
}

input {
    width: 425px;
    height: 32px;
    vertical-align:middle;
    margin-left: 5px;
}